<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%c{1.}] (tid:%tid) &lt;%p&gt; %m%n"/>
        </Console>
            <RollingFile name="FILE" fileName="pageReplacement.log"
                         filePattern="pageReplacement.log.%d{yyyy-MM-dd}">
                <PatternLayout>
                    <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%c{1.}]  (tid:%tid) &lt;%p&gt; %m%n</Pattern>
                </PatternLayout>
                <Policies>
                    <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                </Policies>
                <DefaultRolloverStrategy>
                    <Delete basePath="" maxDepth="1">
                        <IfFileName glob="pageReplacement.log.*" />
                        <IfLastModified age="7d" />
                    </Delete>
                </DefaultRolloverStrategy>
            </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.tanvi.paging" level="INFO" additivity="false">
            <AppenderRef ref="FILE"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>